body{
	background:white;
	background-repeat:no-repeat;
	height:95vh;
	width:98vw;
}
#wrapper{
	display: grid;
	height:100%;
	width:90%;
	margin: 0 auto;
	grid-gap:10px;
	grid-template-rows:80px auto;
	
	grid-template-areas: 
	  "nav"
	  "content"
}

#audi #wrapper{
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"nav nav"
		"asidetext content";
}
nav{
	display:grid;
	grid-area:nav;
	grid-row-start:nav;
	grid-row-end:nav;
	color:#f2f2f2;
	font-size:1.1em;
	font-family:cursive;
	font-weight:bold;
}
nav ul{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	padding:0;
	margin:0;
	list-style-type:none;	
}
nav a{
	text-decoration: none;
	color: black;
}
nav li{
	display:grid;
	text-align:center;
	border: 4px outset #323232;
	height:88%;
	line-height:2.3;
}
nav li:hover{
	border:4px inset red;	
}
a:active {
    color: #ff0000;
}
li.active a { 
    color: red;
}
#login main{
	margin:auto;
	width:75%;
	background-color:#f2f2f2;
	color: black;
	margin-bottom: 10px;
}
#login form{
	color:#2f2f2f;
}
#login label{
	 display:inline-block;
		text-align:right;
		padding-right:10px;
		width:120px;
}
#login input[type="submit"], .create{
	    margin-left:132px;
}
#login .create> a{
		color:black;
}
#login h2{
	  color: black;			
}
main{
	grid-area: content;
}

.content {  
    display: block;
    height: auto;
    min-height: 700px; /*Minsta höjden på rektanglen*/
    padding: 25px 25px;
    color: black;
    background-color: #f2f2f2;
    margin: 0;
    border-radius: 5px; /*runda hörn*/
    margin-top: 20px;
    text-align: center;
}
.asidetext {
	grid-area: asidetext;
	margin-top: 20px;
}
